body {
	background: url("http://img.mota.ru/upload/wallpapers/source/2010/07/23/11/04/22558/mota_ru_0072301.jpg") no-repeat center center fixed;
	background-size: cover;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	float: left;
}

li a {
	  display:block;
	  color: grey;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
}

li a:hover {
	  background-color: white;
}

h1 {
	color: white;
	border: transparent;
	border-width: 2px;
	margin: 1px;
	background-color: black;
	display: inline;
}

h2 {
	color: white;
}

p {
	color: white;
}

img {
	width: 500px;
	height: 500px;
}

button {

}