body {
    background-color: lightblue;
}

#nav_bar {
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    top: 0;
    width: 100%;
    z-index: 99999;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.select) {
    background: linear-gradient(to right,grey,purple,green);
}

.select {
    background-color: #4CAF50;
}

.yourmom {
    float: right;
}

#btn {
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}
