#contactspage {
	  background-color: olive;
}


#contactspage {
	        background: url("https://s-media-cache-ak0.pinimg.com/736x/6f/ab/e8/6fabe8b3df72a8fd4249dac623db7610.jpg") no-repeat center center fixed;
	        background-size: cover;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

li {
	float: left;
}

li a {
	  display:block;
	  color: grey;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
}

li a:hover {
	  background-color: white;
}

.active {
	  background-color: white;
}

#contacts {
	  float: right;
}

p {
   color: black;
   width: 700px;
}

h1 {
	color: black;
}
#kak {
	color: lightblue;
}

#p1 {
	 border-top: double 5px;
	 border-bottom: double 5px;
	 background-color: tan;
	 width: 720px;
}




	